body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NavBar */
.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  box-shadow: 0 5px 10px grey;
}

.nav-center img {
  height: 2rem;
}

.nav-btn {
  padding: 2rem;
}

.nav-btn button,
.btn {
  height: 3em;
  width: 3em;
  border-radius: 9999px;
  margin: 1em;
  cursor: pointer;
  background-color: aliceblue;
  font-size: 0.7em;
  border: none;
  box-shadow: 3px 3px #888888;
  font-weight: 700;
}

.nav-btn button:hover,
.btn:hover {
  background-color: rgb(224, 241, 255);
}

.nav-btn button:active,
.btn:active {
  background-color: rgb(8, 173, 91);
  color: rgb(243, 248, 252);
}

/* HOME */

.home-conteiner-wr {
  position: absolute;
  display: block;
  visibility: visible;
  transform: matrix(1, 0, 0, 1, 0, 0);
  left: 30%;
  top: 30%;
  z-index: 6;
}

.home-conteiner {
  position: absolute;
  display: block;
}

.home-center {
  position: absolute;
  display: block;
  overflow: visible;
  padding: 1rem;
}

.home-center p {
  z-index: 7;
  min-width: 660px;
  max-width: 660px;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  margin: 0px;
  font-weight: 400;
  min-height: 69px;
  max-height: 69px;
  color: rgb(4, 26, 44);
}

.home-center h1 {
  z-index: 6;
  min-width: 641px;
  max-width: 641px;
  font-size: 72px;
  line-height: 64px;
  color: rgb(132, 198, 255);
  visibility: inherit;
  margin: 0px;
  min-height: 66px;
  max-height: 66px;
}

.home-btn-wr {
  position: absolute;
  display: block;
  visibility: visible;
  transform: matrix(1, 0, 0, 1, 0, 0);
  left: 30%;
  top: 50%;
  z-index: 8;
}

.home-btn-conteiner {
  position: absolute;
  display: block;
}

.home-btn {
  position: absolute;
  display: flex;
  overflow: visible;
  padding: 1rem;
}

.home-btn button {
  z-index: 8;
  visibility: inherit;
  min-height: 0px;
  max-height: none;
  max-width: none;
}

.btn1 {
  min-width: 9rem !important;
}

.btn2 {
  min-width: 6rem !important;
}

/* RESPONSIVE */
@media only screen and (max-width: 770px) {
  .table-center h2 {
    font-size: 1em;
  }

  .table-center {
    overflow-x: scroll;
  }

  .rowgrou {
    display: block;
  }

  .nav-btn {
    padding: 0;
  }

  .modal-center {
    flex-direction: column-reverse;
    padding: 1em 0.5em !important;
  }

  .modal-text {
    width: 100% !important;
  }

  .modal-video {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .modal-video-player {
    height: 30vh !important;
  }

  .home-conteiner-wr,
  .home-btn-wr {
    left: 0;
  }

  .home-conteiner-wr {
    top: 30%;
  }

  .home-btn-wr {
    top: 45%;
  }
}

@media only screen and (max-width: 400px) {
  .nav-center {
    width: 100%;
    text-align: center;
    display: block;
    padding: 1rem;
  }
  .table-center h2 {
    font-size: 0.8em;
  }

  .home-btn-wr {
    top: 80%;
  }

  .home-center p,
  .home-center h1 {
    min-width: 0;
    max-width: 0;
    margin: 0;
  }

  .home-btn {
    display: block;
  }

  .home-conteiner {
    height: 100vh;
  }

  .modal-center {
    width: 100%;
  }

  .modal-text {
    font-size: 0.8em;
  }
}
